@charset "UTF-8";

  .col-sm-8  {
    font-family: cursive;
    color: black;
    font-size: 24pt;
    font-weight: bold;
    background-color: white;
    text-align: center;
   
}

.container{
	
}
    